<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofs.sys.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ofs.sys.entity.SysLog">
        <result column="ID" property="id"/>
        <result column="MENU_ID" property="menuId"/>
        <result column="TYPE" property="type"/>
        <result column="CONTENT" property="content"/>
        <result column="IP" property="ip"/>
        <result column="AJAX" property="ajax"/>
        <result column="URI" property="uri"/>
        <result column="PARAMS" property="params"/>
        <result column="HTTP_METHOD" property="httpMethod"/>
        <result column="CLASS_METHOD" property="classMethod"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_USER" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MENU_ID, TYPE, CONTENT, IP, AJAX, URI, PARAMS, HTTP_METHOD, CLASS_METHOD,
         CREATE_DATE, UPDATE_DATE, CREATE_USER, UPDATE_USER
    </sql>

</mapper>
