<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofs.sys.web.mapper.SysResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ofs.sys.web.entity.SysResource">
        <result column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="PERMISSION" property="permission"/>
        <result column="URL" property="url"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="TYPE" property="type"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_USER" property="updateUser"/>
        <result column="IS_AUTH" property="isAuth"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        T.ID, T.CODE, T.NAME, T.PERMISSION, T.URL, T.PARENT_ID, T.TYPE, T.DESCRIPTION,
        T.CREATE_DATE, T.UPDATE_DATE, T.CREATE_USER, T.UPDATE_USER
    </sql>


    <!-- 默认where判断条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="params.name != null">and T.RESOURCE_NAME = #{params.name}</if>
                <if test="params.url != null">and T.url = #{params.url}</if>
                <!--<if test="params.status != null">and T.STATUS = #{params.status}</if>-->
                <if test="params.parentId != null">and T.PARENT_ID = #{params.parentId}</if>
                <if test="params.type != null">and T.TYPE = #{params.type}</if>
                <if test="params.roleId != null">and R.ROLE_ID = #{params.roleId}</if>
                <if test="params.roleIds!=null and params.roleIds.size>0">
                    and R.ROLE_ID in
                    <foreach collection="params.roleIds" item="id" separator="," open="(" close=")">
                        #{id}
                    </foreach>
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询信息 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        <!--         , DECODE(R.ROLE_ID,NULL,0,1 ) IS_AUTH-->
        ,case when R.ROLE_ID is null then '0' else '1' end as IS_AUTH
        FROM SYS_RESOURCE T
        LEFT JOIN SYS_ROLE_PERMISSION R ON R.PERMISSION=T.PERMISSION
        <include refid="Base_Where_Clause"/>
        ORDER BY T.SORT
    </select>
    <!-- 根据角色ID条件查询信息 -->
    <select id="getListByRole" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_RESOURCE T
        INNER JOIN SYS_ROLE_PERMISSION R ON R.PERMISSION=T.PERMISSION
        <include refid="Base_Where_Clause"/>
        ORDER BY T.SORT
    </select>

    <delete id="deleteChildren">
        DELETE FROM SYS_RESOURCE T WHERE T.PARENT_ID in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="listPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_RESOURCE T
        <include refid="Base_Where_Clause"/>
    </select>
</mapper>
