<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofs.sys.mapper.SysResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ofs.sys.entity.SysResource">
        <result column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="PERMISSION" property="permission"/>
        <result column="URL" property="url"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="TYPE" property="type"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_USER" property="updateUser"/>
        <result column="IS_AUTH" property="isAuth"/>
        <result column="LEAF" property="leaf"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BASE_COLUMN_LIST">
        T.ID, T.CODE, T.NAME, T.PERMISSION, T.URL, T.PARENT_ID, T.TYPE, T.DESCRIPTION,
        T.CREATE_DATE, T.UPDATE_DATE, T.CREATE_USER, T.UPDATE_USER
    </sql>


    <!-- 默认where判断条件 -->
    <sql id="BASE_WHERE_CLAUSE">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">and T.ID = #{id}</if>
                <if test="name != null">and T.RESOURCE_NAME = #{name}</if>
                <if test="url != null">and T.url = #{url}</if>
                <if test="status != null">and T.STATUS = #{status}</if>
                <if test="parentId != null">and T.PARENT_ID = #{parentId}</if>
                <if test="type != null">and T.TYPE = #{type}</if>
                <if test="roleId != null">and R.ROLE_ID = #{roleId}</if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询信息 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        , (select case when count(*) >0 then 0 else 1 end from SYS_RESOURCE M where M.PARENT_ID=T.ID) LEAF
        , DECODE(R.ROLE_ID,NULL,0,1 ) IS_AUTH
        FROM SYS_RESOURCE T
        LEFT JOIN SYS_ROLE_RESOURCE R ON R.RESOURCE_ID=T.ID
        <include refid="BASE_WHERE_CLAUSE"/>
        ORDER BY T.SORT
    </select>
    <!-- 根据角色ID条件查询信息 -->
    <select id="getListByRole" resultMap="BaseResultMap">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        , (select case when count(*) >0 then 0 else 1 end from SYS_RESOURCE M where M.PARENT_ID=T.ID) LEAF
        FROM SYS_RESOURCE T
        INNER JOIN SYS_ROLE_RESOURCE R ON R.RESOURCE_ID=T.ID
        <include refid="BASE_WHERE_CLAUSE"/>
        ORDER BY T.SORT
    </select>

    <delete id="deleteChildren">
        DELETE FROM SYS_RESOURCE T WHERE T.PARENT_ID in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
